{% extends "base.html" %}
{% load static %}

{% block content %}
    {{ tags_saison_lower|json_script:"season-tags-data" }}
    {% if menu_simple_json %}
        {{ menu_simple_json|json_script:"menu-data-to-save" }}
    {% endif %}
    <h1 class="font-bold text-blue-600 text-2xl mb-4">Générer mon menu</h1>


    <form method="POST" action="{% url 'generateur' %}" class="flex flex-col justify-center" data-redirect-url="{% url 'mon_menu' %}">
        {% csrf_token %}
        {% for jour_nom in jours_liste %}
            {% for repas_nom in repas_liste %}
                
                {% with repas_id=jour_nom|lower|add:"_"|add:repas_nom|lower %}
                
                <fieldset class="border border-gray-300 rounded-md p-4 mb-4 w-full max-w-md bg-white shadow-sm">
                    <legend class="">{{ jour_nom }} {{ repas_nom }}</legend>
                    
                    <input type="checkbox" name="{{ repas_id }}_idee" id="{{ repas_id }}_idee">
                    <label for="{{ repas_id }}_idee">J'ai besoin d'une idée</label>
                    <br><br>
                    
                    <div class="tags-list">
                        <strong>Filtres :</strong>
                        {% for tag in tous_les_tags %}
                        <input type="checkbox" 
                            name="{{ repas_id }}_tags" 
                            value="{{ tag.nom }}" 
                            id="{{ repas_id }}_tag_{{ tag.pk }}"
                            {% if tag.nom|lower in tags_saison_lower and tag.nom|lower == saison_actuelle_lower %}
                                checked
                            {% endif %}>
                        <label for="{{ repas_id }}_tag_{{ tag.pk }}">{{ tag.nom }}</label>
                        {% endfor %}
                    </div>
                </fieldset>
                
                {% endwith %}
            {% endfor %}
        {% endfor %}
        <br>
        <button type="submit" class="bg-red-600 p-4 text-white font-bold rounded w-1/2 m-auto">Générer !</button>
    </form>
    
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/generateur.js' %}"></script>
{% endblock extra_js %}