<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mes Recettes</title>
    </head>
<body>

    <h1>Toutes mes recettes</h1>

    <ul>
        {% for recette in recettes %}
            <li>
                <h2>{{ recette.nom }}</h2>
                
                <p>Temps total : {{ recette.temps_total }} minutes</p>
                
                <p>
                    Tags:
                    {% for tag in recette.tags %}
                        <span>#{{ tag }}</span>
                    {% endfor %}
                </p>
            </li>
        {% empty %}
            <li>Tu n'as pas encore ajouté de recette !</li>
        {% endfor %}
    </ul>

</body>
</html>