{% extends "base.html" %}

{% block content %}
    <h1 class="font-bold text-2xl mb-4 text-center">Supprimer la recette</h1>

    <p class="mb-8">Es-tu sûr de vouloir supprimer la recette : <strong>{{ object.nom }}</strong> ?</p>

    <form method="post" class="flex items-center gap-4 justify-center">
        {% csrf_token %}
        <button type="submit" class="bg-red-600 text-white font-bold rounded p-4 hover:bg-red-800">Oui, supprimer</button>
        <a href="{% url 'recette_detail' pk=object.pk %} ">Annuler</a>
    </form>
{% endblock %}