{% extends "base.html" %}

{% block content %}

    <h1 class="text-3xl font-bold text-blue-600 underline">Mes Recettes</h1>

    <a href="{% url 'recette_creer' %}" class="btn btn-add">Ajouter une nouvelle recette</a>
    <a href="{% url 'generateur' %}">Générateur de menu</a>

    <hr>

    <ul class="grid grid-cols-1 mt-4 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for recette in object_list %} <li class="bg-white p-4 rounded-lg shadow-md h-50">
                <h2 class="text-xl font-semibold text-blue-600 hover:underline text-center">
                    <a href="{% url 'recette_detail' pk=recette.pk %}" >
                        {{ recette.nom }}
                    </a>
                </h2>
                
                <p>Temps total : {{ recette.temps_total }} minutes</p>
                
                <a href="{% url 'recette_modifier' pk=recette.pk %}">Modifier</a>
                |
                <a href="{% url 'recette_supprimer' pk=recette.pk %}" style="color:red;">Supprimer</a>
            </li>
        {% empty %}
            <li>Tu n'as pas encore ajouté de recette !</li>
        {% endfor %}
    </ul>

{% endblock %}