{% extends "base.html" %}

{% block content %}

    <h1 class="text-3xl font-bold text-blue-600 underline">Mes Recettes</h1>

    <a href="{% url 'recette_creer' %}">Ajouter une nouvelle recette</a>
    <a href="{% url 'generateur' %}">Générateur de menu</a>

    <hr>


    <div class="mt-6 p-4 bg-white shadow-md rounded-lg">
        <p>Si ce texte a un fond blanc et une ombre, c'est que Tailwind fonctionne !</p>
    </div>

    <ul>
        {% for recette in object_list %} <li>
                <h2>
                    <a href="{% url 'recette_detail' pk=recette.pk %}">
                        {{ recette.nom }}
                    </a>
                </h2>
                
                <p>Temps total : {{ recette.temps_total }} minutes</p>
                
                <a href="{% url 'recette_modifier' pk=recette.pk %}">Modifier</a>
                |
                <a href="{% url 'recette_supprimer' pk=recette.pk %}" style="color:red;">Supprimer</a>
            </li>
        {% empty %}
            <li>Tu n'as pas encore ajouté de recette !</li>
        {% endfor %}
    </ul>

{% endblock %}