<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% if object %} Modifier la recette : {{ object.nom }}
        {% else %} Créer une nouvelle recette
        {% endif %}</title>
    </head>
<body>
    <h1>
        {% if object %} Modifier la recette : {{ object.nom }}
        {% else %} Créer une nouvelle recette
        {% endif %}
    </h1>

    <form method="post">
        {% csrf_token %} {{ form.as_p }} <button type="submit">Enregistrer</button>
    </form>

    <br>
    <a href="{% url 'recette_list' %}">Annuler</a>

</body>
</html>