{% extends "base.html" %}

{% block content %}

    <h1 class="font-bold text-blue-600 text-2xl">Mes recettes</h1>

    <section class="grid grid-cols-1 mt-4 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for recette in object_list %} 
        <div class="bg-white rounded-lg shadow-md p-4">
            <h3 class="text-xl font-semibold mb-2">     
                <a href="{% url 'recette_detail' pk=recette.pk %}" >
                        {{ recette.nom }}
                </a>
            </h3>
            <p class="text-gray-600 text-sm mb-2">Préparation : {{ recette.temps_preparation }} min | Cuisson : {{ recette.temps_cuisson }}min</p>
            <p class="text-gray-700 text-sm">Ingrédients : Poulet, Thym, Romarin, Citron, Ail</p>
            <div class="mt-4 flex justify-end space-x-2">
                <a href="{% url 'recette_modifier' pk=recette.pk %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-1 px-3 rounded text-sm">Modifier</a>
                <a href="{% url 'recette_supprimer' pk=recette.pk %}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-3 rounded text-sm">Supprimer</a>
            </div>
        </div>
        {% empty %}
        <h2>Tu n'as pas encore ajouté de recette !</h2>
        {% endfor %}
    </section>

    

{% endblock %}