{% extends 'main/base.html' %}
{% load static %}

{% block title %}Suppression du compte{% endblock %}
{% block description %}Supprimez votre compte et vos données associées de manière sécurisée. Cette page vous guide à travers le processus de suppression de compte.{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-lg p-4">
                <h2 class="text-center mb-4">Supprimer votre compte</h2>
                <p>Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.</p>

                {% if messages %}
                    <div class="messages mb-4">
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Formulaire de suppression -->
                <form method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger w-100 mt-3">Confirmer la suppression</button>
                      <p class="text-center mt-3"><a href="{% url 'home' %}">Annuler</a></p>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
