{% extends 'main/base.html' %}
{% load static %}

{% block title %}Page d'Accueil{% endblock %}
{% block description %}Connectez-vous à votre compte pour accéder à toutes les fonctionnalités et services. Saisissez vos identifiants pour une connexion sécurisée.{% endblock %}

{% block content %}
{% load socialaccount %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-lg p-4">
                <h2 class="text-center mb-4">S'inscrire</h2>

                {% if messages %}
                    <div class="messages mb-4">
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Formulaire de connexion classique -->
                <form method="post">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}">
                    {% endif %}

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" name="email" id="email" placeholder="Entrez votre email" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Entrez votre mot de passe" required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100 mt-3">S'inscrire</button>
                </form>

                <div class="text-center mt-3">
                    <p><a href="{% url 'password_reset' %}">Mot de passe oublié ?</a></p>
                </div>

                <!-- Connexion via Google -->
                <div class="google-login text-center mt-4">
                    <p>Ou connectez-vous avec Google :</p>
                    <a href="{% provider_login_url 'google' process='login' %}" class="btn btn-danger w-100">Connexion avec Google</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
