{% extends 'main/base.html' %}

{% block title %}Page d'Accueil{% endblock %}
{% block description %}Testdescription{% endblock %}
{% block javascript %}

{% endblock %}

{% block content %}
<h1 class="display-1">Voir une recette</h1>
    <a href="{% url 'my_recipes' %}">Mes recettes</a>


<h1 class="display-4 text-center">Voir la recette : {{ recipe.name }}</h1>

<div class="container mt-4">
    <h3>Détails de la recette</h3>
    <ul class="list-group">
        <li class="list-group-item"><strong>Nom :</strong> {{ recipe.name }}</li>
        <li class="list-group-item"><strong>Temps de cuisson :</strong> {{ recipe.cooking_time }} minutes</li>
        <li class="list-group-item"><strong>Nombre de portions :</strong> {{ recipe.servings }}</li>
        <li class="list-group-item"><strong>Végétarien :</strong> {{ recipe.is_veggie|yesno:"Oui,Non" }}</li>
        <li class="list-group-item"><strong>Saisons :</strong>
            {% for season in recipe.seasons.all %}
                {{ season.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </li>
        <li class="list-group-item"><strong>Facile :</strong> {{ recipe.is_easy|yesno:"Oui,Non" }}</li>
        <li class="list-group-item"><strong>Ustensiles :</strong> {{ recipe.utensils }}</li>
        <li class="list-group-item"><strong>Note :</strong> {{ recipe.rating }}</li>
        <li class="list-group-item"><strong>Étapes :</strong> {{ recipe.steps }}</li>
        <li class="list-group-item"><strong>Ingrédients :</strong>
            <ul>
                {% for ingredient in recipe.ingredients.all %}
                    <li>{{ ingredient.name }}</li>
                {% endfor %}
            </ul>
        </li>
        <li class="list-group-item"><strong>Privé :</strong> {{ recipe.is_private|yesno:"Oui,Non" }}</li>
    </ul>
</div>




<p>Ceci est la page pour voir la recette.</p>
{% endblock %}