@import "tailwindcss";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";



@layer base {
  html{
    scroll-behavior: smooth;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 text-white font-semibold transition-colors duration-300;
  }

  .btn-primary {

    @apply bg-green-600 hover:bg-green-800 rounded p-8;
  }

  .btn-secondary {

    @apply bg-blue-900 hover:bg-blue-600 rounded;
  }
  .add-button {
    width: 5rem; /* Taille fixe pour le bouton rond */
    height: 5rem;
    background-color: #034001; /* Vert Tailwind 500 */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem; /* Taille du signe plus */
    line-height: 1; /* Assure que le + est centré verticalement */
    text-decoration: none; /* Enlève le soulignement potentiel */
    padding-bottom: 6px;   /* ASTUCE : Remonte visuellement le + */
    line-height: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: background-color 0.3s ease;
  }

  .nav-color {
    @apply text-white;
    background-color: #8EA637;
  }

  .modify-button {
    @apply hover:bg-blue-600 text-white font-bold py-1 px-3 rounded text-sm;
    background-color: #BFAC95;
  }
  .delete-button {
    @apply text-white font-bold py-1 px-3 rounded text-sm;
    background-color: #59341E;
  }

  .generate-button {
    @apply p-4 text-white font-bold rounded w-1/2 m-auto;
    background-color: #034001;
  }
}

