{% extends 'main/base.html' %}
{% load static %}

{% block title %}E-mail envoyé - Réinitialisation du mot de passe{% endblock %}
{% block description %}Un e-mail a été envoyé pour la réinitialisation de votre mot de passe{% endblock %}

{% block content %}
    <h1>E-mail envoyé</h1>
    <p>Un e-mail contenant les instructions pour réinitialiser votre mot de passe a été envoyé à votre adresse.</p>
    <a href="{% url 'home' %}">Retour à la page d'accueil</a>
{% endblock %}





















    <h2>Email envoyé</h2>
    <p>Un email contenant les instructions pour réinitialiser votre mot de passe a été envoyé à votre adresse.</p>
    <a href="{% url 'home' %}">Retour à la page d'accueil</a>


</body>
</html>
