{% load static %}
{% load tailwind_tags %} <!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MiamPlanner{% endblock %}</title>
    
    {% tailwind_css %} 
</head>
<body class="bg-gray-100 font-sans antialiased flex flex-col min-h-screen">
    <header class="bg-blue-400 p-4 text-white text-center text-2xl font-semibold shadow-md">
        <a href="{% url 'recette_list' %}">MiamPlanner</a>
    </header>
    <main class="container flex-grow p-4 space-y-4 overflow-y-auto">
        {% block content %}
        {% endblock %}
    </main>

    <nav class="fixed bottom-0 w-full bg-gray-800 text-white p-2 flex justify-around items-center relative z-10 ">
        <a href="{% url 'recette_list' %}" class="flex flex-col items-center text-sm p-2 rounded hover:bg-gray-700">
            Mes recettes
        </a>

        <div class="add-button">
            <a href="{% url 'recette_creer' %}">+</a>
        </div>

        <a href="{% url 'generateur' %}" class="flex flex-col items-center text-sm p-2 rounded hover:bg-gray-700">
            Générateur
        </a>
    </nav>

</body>
</html>