{% extends 'main/base.html' %}
{% load custom_filters %}
{% block title %}Page de planner{% endblock %}
{% block description %}Testdescription{% endblock %}
{% block javascript %}

{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Générer le planning de repas</h2>
    <form method="post">
    {% csrf_token %}

    <fieldset>
      <legend>Sélection des tags de recettes</legend>
      {{ form.tags }}
    </fieldset>

    <fieldset>
      <legend>Choix des repas pour lesquels générer une suggestion</legend>
      <table>
        <thead>
          <tr>
            <th>Jour</th>
            <th>Midi</th>
            <th>Soir</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lundi</td>
            <td>{{ form.MONDAY_LUNCH }}</td>
            <td>{{ form.MONDAY_DINNER }}</td>
          </tr>
          <tr>
            <td>Mardi</td>
            <td>{{ form.TUESDAY_LUNCH }}</td>
            <td>{{ form.TUESDAY_DINNER }}</td>
          </tr>
          <tr>
            <td>Mercredi</td>
            <td>{{ form.WEDNESDAY_LUNCH }}</td>
            <td>{{ form.WEDNESDAY_DINNER }}</td>
          </tr>
          <tr>
            <td>Jeudi</td>
            <td>{{ form.THURSDAY_LUNCH }}</td>
            <td>{{ form.THURSDAY_DINNER }}</td>
          </tr>
          <tr>
            <td>Vendredi</td>
            <td>{{ form.FRIDAY_LUNCH }}</td>
            <td>{{ form.FRIDAY_DINNER }}</td>
          </tr>
          <tr>
            <td>Samedi</td>
            <td>{{ form.SATURDAY_LUNCH }}</td>
            <td>{{ form.SATURDAY_DINNER }}</td>
          </tr>
          <tr>
            <td>Dimanche</td>
            <td>{{ form.SUNDAY_LUNCH }}</td>
            <td>{{ form.SUNDAY_DINNER }}</td>
          </tr>
        </tbody>
      </table>
    </fieldset>

    <button type="submit">Générer le planning</button>
  </form>
</div>
{% endblock %}